<a href="https://colab.research.google.com/github/Sankha1998/machine_learning/blob/master/Decision_Tree_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## task 1 :

In [0]:
import math
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('play_tennis.csv')
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [0]:
df.shape

(14, 6)

In [0]:
def entropy(y,n):
  if(y==0):
    return (-n*np.log2(n))
  elif (n==0):
    return (-y*np.log2(y))
  else:
    return (-y*np.log2(y)-n*np.log2(n))

In [0]:
yes = df[df['play']=='Yes'].shape[0]/df.shape[0]
no = df[df['play']=='No'].shape[0]/df.shape[0]
parent_entropy = -yes*np.log2(yes)-no*np.log2(no)

In [0]:
parent_entropy

0.9402859586706309

In [0]:

col = df.columns

In [0]:
col

Index(['day', 'outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [0]:
def per_col(x):
  all_entropy=[]
  
  col_index = df[x].value_counts().index
  i = 0
  while i < len(col_index):

    dfx = df[df[x]==col_index[i]]
    yes = dfx[dfx['play']=='Yes'].shape[0]
    no = dfx[dfx['play']=='No'].shape[0]
    p_y = yes/dfx.shape[0]
    p_n = no/dfx.shape[0]
    e = entropy(p_y,p_n)
    weighted_entropy=(dfx.shape[0]/df.shape[0])*e
    all_entropy.append(weighted_entropy)
    i=i+1


  return (parent_entropy - sum(all_entropy))

In [0]:
col

Index(['day', 'outlook', 'temp', 'humidity', 'wind', 'play'], dtype='object')

In [0]:
i = 1
l = {}
while i < len(col)-1:
  val = per_col(col[i])
  colm = col[i]
  l[colm]=val
  i=i+1

In [0]:
l

{'humidity': 0.15183550136234136,
 'outlook': 0.2467498197744391,
 'temp': 0.029222565658954647,
 'wind': 0.04812703040826927}

In [0]:
max(l,key=l.get)

'outlook'

In [0]:
# task 2 : You have to work on the iris dataset and manually find out the splitting criteria for Petal Length column

In [0]:
df1 = pd.read_csv('Iris.csv')
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
pl=df1['PetalLengthCm'].unique()

In [0]:
pl

array([1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1. , 1.9, 4.7, 4.5, 4.9, 4. ,
       4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5. , 3.8, 3.7,
       5.1, 3. , 6. , 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7, 6.9,
       5.7, 6.4, 5.4, 5.2])

In [0]:
e_p =  df1['Species'].value_counts().values[0]/df1.shape[0]

In [0]:
df1['Species'].value_counts()

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [0]:

i=0
l=[]
while i< len(pl):
  d1 = df1[df1['PetalLengthCm']<=pl[i]] ## creating two dataset
  d2 = df1[df1['PetalLengthCm']>=pl[i]]
  y1 = d1[d1['Species']=='Iris-setosa'].shape[0] ## for one kind of species
  n1 = d1[d1['Species']=='Iris-setosa'].shape[0]
  d1_y1 = y1/d1.shape[0]
  d1_n1 = n1/d1.shape[0]
  y2 = d2[d2['Species']=='Iris-setosa'].shape[0]
  n2 = d2[d2['Species']=='Iris-setosa'].shape[0]
  d2_y2 = y2/d2.shape[0]
  d2_n2 = n2/d2.shape[0]
  e1 = entropy(d1_y1,d1_n1)
  e2 = entropy(d2_y2,d2_n2)
  we1=(d1.shape[0]/df1.shape[0])*e1
  we2=(d2.shape[0]/df1.shape[0])*e2
  we= we1+we2
  ig = e_p-we
  l.append(ig)
  i+=1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log2
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:

i=0
l1=[]

while i< len(pl):
  d1 = df1[df1['PetalLengthCm']<=pl[i]]
  d2 = df1[df1['PetalLengthCm']>=pl[i]]
  y1 = d1[d1['Species']=='Iris-virginica'].shape[0]
  n1 = d1[d1['Species']=='Iris-virginica'].shape[0]
  d1_y1 = y1/d1.shape[0]
  d1_n1 = n1/d1.shape[0]
  y2 = d2[d2['Species']=='Iris-virginica'].shape[0]
  n2 = d2[d2['Species']=='Iris-virginica'].shape[0]
  d2_y2 = y2/d2.shape[0]
  d2_n2 = n2/d2.shape[0]
  e1 = entropy(d1_y1,d1_n1)
  e2 = entropy(d2_y2,d2_n2)
  we1=(d1.shape[0]/df1.shape[0])*e1
  we2=(d2.shape[0]/df1.shape[0])*e2
  we= we1+we2
  ig = e_p-we
  l1.append(ig)

  i+=1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log2
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:

i=0
l2=[]

while i< len(pl):
  d1 = df1[df1['PetalLengthCm']<=pl[i]]
  d2 = df1[df1['PetalLengthCm']>=pl[i]]
  y1 = d1[d1['Species']=='Iris-versicolor'].shape[0]
  n1 = d1[d1['Species']=='Iris-versicolor'].shape[0]
  d1_y1 = y1/d1.shape[0]
  d1_n1 = n1/d1.shape[0]
  y2 = d2[d2['Species']=='Iris-versicolor'].shape[0]
  n2 = d2[d2['Species']=='Iris-versicolor'].shape[0]
  d2_y2 = y2/d2.shape[0]
  d2_n2 = n2/d2.shape[0]
  e1 = entropy(d1_y1,d1_n1)
  e2 = entropy(d2_y2,d2_n2)
  we1=(d1.shape[0]/df1.shape[0])*e1
  we2=(d2.shape[0]/df1.shape[0])*e2
  we= we1+we2
  ig = e_p-we
  l2.append(ig)
  i+=1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log2
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
total_ig = l+l1+l2 ## total ig

In [0]:
indx=total_ig.index(max(total_ig)) ## index of the max value of ig

In [0]:
pl[indx] ## for which the max ig obtain

1.9

In [0]:
## 1.9 is best spliting value