In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
df=pd.read_csv('datasets_9401_13260_Salary_Data.csv')

In [4]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
X=df.iloc[:,0].values
y=df.iloc[:,1].values

In [6]:
def fit(X,y):
    m=0
    b=0
    lr=0.0001 ## learning rate
    n_iteration=1000
    for i in range(n_iteration):
        ## ss= (py-ay)**2 
       
        py=m*X+b ##  predict y eqution
        
        
        ss_b = 2  * sum((py-y) * 1)   ## derivative w.r.t b
        
        ss_m = 2 * sum(X * (py-y))    ## derivative w.r.t m
        
        ## step size of m,b
        stepm = ss_m*lr 
        stepb = ss_b*lr
        
        
        m= m - stepm
        b= b - stepb
        
    return m,b

In [7]:
def predict(x):
    m,b=fit(X,y)
    return (m*x+b)

In [8]:
predict(7.8)

100557.42009928763